:root {
    --clr-primary: rgb(245, 243, 243);
    --clr-neutral: rgb(34, 31, 31);
    --clr-accent: yellow;

    --ff-primary: font-family: 'Roboto', sans-serif;;
    --ff-body: var(--ff-primary);
    --ff-accent: font-family: 'Dancing Script', cursive, 'Fira Mono', monospace;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: 0.85rem;
    --fs-400: 1rem;
    --fs-500: 1.8rem;
    --fs-600: 2.5rem;
    --fs-700: 3.5rem;

    --fs-body: var(--fs-300);
    --fs-nav: var(--fs-400);
    --fs-button: var(--fs-400);
    --fs-primary-heading: var(--fs-600);
    --fs-secondary-heading: var(--fs-500);
}

@media (min-width: 50em) {
    :root{
        --fs-body: var(--fs-400);
        --fs-nav: var(--fs-500);
        --fs-button: var(--fs-500);
        --fs-primary-heading: var(--fs-700);
        --fs-secondary-heading: var(--fs-600);
    }

}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-primary {
    color: var(--clr-primary);
}

.text-neutral {
    color: var(--clr-neutral);
}

.text-accent {
    color: var(--clr-accent);
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-neutral {
    background-color: var(--clr-neutral);
}

.bg-accent {
    background-color: var(--clr-accent);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

/*
span::before { 
    content: "Đulka Osmanović.";
    font-family: var(--ff-accent); 
    animation: animate infinite 8s;
    padding-left: 12px; 
} 

@keyframes animate { 

    0% { 
        content: "Đulka Osmanović."; 
    } 

    50% { 
        content: "a student."; 
    } 

    65% { 
        content: "a programmer."; 
    } 
} 
*/
/*
span{
    animation: glitch 1s linear infinite;
}
  
@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
span:before,
span:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
span:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
  
@keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
}
  
span:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
@keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }
  
*/



@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body{ 
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #131313;
    color: #fff;

    font-family: 'Fira Mono', monospace;

  }
  
span{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  span:before,
  span:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  span:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  span:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }
  
  

